@{
    ViewData["Title"] = "About Me";
}



<div class="container py-5">
    <h2 class="text-center fw-bold mb-5" data-aos="fade-up">🙋 About Me</h2>

    <div class="row align-items-center">
        <div class="col-md-6" data-aos="fade-right">
            <img src="/images/profile-pic.png" class="img-fluid rounded-4 shadow" alt="Me" />
        </div>
        <div class="col-md-6" data-aos="fade-left">
            <p class="lead">
                Hello! I'm a passionate entry-level .NET Developer who loves building efficient and elegant web applications.
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">🎓 B.Tech in Computer Science - 2024</li>
                <li class="list-group-item">💡 Focused on ASP.NET Core, C#, MVC</li>
                <li class="list-group-item">📚 Currently enhancing skills with real-world projects</li>
            </ul>
        </div>

    </div>
</div>

